.main-sectoin {
    width: 80%;
    /* max-width: 600px; */
    margin: 2rem;
    padding: 2rem;
    border: 2px solid #115e59;
    border-radius: 0rem 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: center;
}

.main-header {
    width: 80%;
    background-color: #0d9488;
    border: 2px solid #115e59;
    border-radius: 0rem 2rem;
    padding: 1rem;
    color: #f4f7f6;
}

.nav-links {
    width: 100%;
    max-width: 255px;
    text-align: center;
    padding: 1rem;
    margin-top: 1.5rem;
    border-radius: 0rem 1rem;
    border: 2px solid #115e59;
    transition: transform 0.4s ease-in-out;
    background-color: #ffffff;
}
.nav-links:hover {
    transform: scale(1.1);
}
.linkedin:hover {
    color: #0000ff;
}

p {
    padding: 0.2rem;
}
@media (max-width:555px) {
    .main-sectoin {
        padding: 1rem;
        width: 90%;
    }

    .main-header {
        width: 100%;
    }
}