.input-group-error {
    width: 100%;
    padding: 0rem 1rem .5rem 1rem;
    display: flex;
    justify-content: center;
}

.login-error {
    background-color: rgb(255, 255, 255);
    font-size: large;
    color: rgb(255, 0, 0);
    padding: .4rem 2rem;
    border: 2px solid #ff0000;
    border-radius: 1rem 1rem;
}

.success-message {
    background-color: #c3ffe4;
    border: 1px solid #115e59;
    border-radius: 1rem;
    padding: 1rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 5px -5px 25px 4px #115e59;

}

.success-message h2 {
    font-size: 5rem;    
}
