.main-container {
    height: 55px;
    background-color: mediumaquamarine;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1rem;
    padding: 1rem;
    border-radius: 1rem;
}

.logo-container {
    border-radius: 1rem;
    padding: 0.5rem;
    display: flex;
}

.nav-links-container, .nav-button-container {
    display: flex;
    gap: 1rem;
}

a {
    color: black;
    text-decoration: none;
}
button {
    border: none;
    background-color: mediumaquamarine;
    transition: transform 0.3s ease-in-out;
}
a:hover, button:hover {
    transform: scale(1.1);
}