.logo-links, .nav-links {
    color: #ffffff;
    text-decoration: none;
    transition: transform 0.3s ease-in-out;
}

.nav-links:hover {
    transform: scale(1.1);
}

.main-container {
    height: 55px;
    background-color: #0d9488;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1rem;
    padding: 1rem;
    border-radius: 0rem 2rem;
    border: 2px solid #115e59;

    position: sticky;
    top: 1.5rem;
    z-index: 1000;
}

.logo-container {
    display: flex;
    align-items: center;
    width: 50px;
    height: 50px;
    overflow: hidden;
}
.actual-logo {
    max-height: 100%;
    width: auto;
    border-radius: 0% 50%;
}
.toggle-container {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.hamburger-menu {
    display: none;
}

@media (max-width:555px) {
    .main-container {
        background-color: #0d9488;
        margin: 1.5rem .5rem;
    }

    .hamburger-menu {
        display: block;
    }

    .toggle-container {
        display: none;

    }

    .toggle-container.open {
        display: flex;
        flex-direction: column;
        position: absolute;
        right: 0rem;
        top: 4.7rem;
        width: 45%;
        height: 55%;
        background-color: #115e59;
        padding: 1rem;
        border-radius: 0rem 2rem;
        z-index: 10;
    }
    .toggle-container.open,
    .toggle-container.open {
        flex-direction: column;
    }
} 