.logo-links, .nav-links {
    color: black;
    text-decoration: none;
}

.nav-buttons {
    border: none;
    background-color: mediumaquamarine;
}

.nav-links:hover, .nav-buttons:hover {
    transform: scale(1.1);
}

.main-container {
    height: 55px;
    background-color: mediumaquamarine;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1rem;
    padding: 1rem;
    border-radius: 1rem;
}

.logo-container {
    border-radius: 1rem;
    padding: 0.5rem;
}

.toggle-container {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.hamburger-menu {
    display: none;
}

@media (max-width:555px) {
    .main-container {
        background-color: mediumaquamarine;
    }

    .hamburger-menu {
        display: block;
    }

    .toggle-container {
        display: none;

    }

    .toggle-container.open {
        display: flex;
        flex-direction: column;
        position: absolute;
        right: 0rem;
        top: 4.7rem;
        width: 45%;
        height: 55%;
        background-color: mediumaquamarine;
        padding: 1rem;
        border-radius: 0rem 2rem;
        z-index: 10;
    }
    .toggle-container.open,
    .toggle-container.open {
        flex-direction: column;
    }
} 