.signup-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 70vh;
    padding: 2rem;
}

.signup-form {
    box-sizing: border-box;
    justify-self: center;
    max-width: 35rem;
    margin: 4rem auto;
    border-radius: 0rem 2rem;
    border: 2px solid #115e59;
    padding: 2rem 3rem;
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.input-group {
    display: grid;
    grid-template-columns: 10rem 1fr;
}

.signup-label,
.signup-input,
.signup-button {
    background-color: #0d9488;
    color: black;
    padding: .4rem;
    border: 2px solid #115e59;
    border-radius: 0rem 1rem;
    transition: transform 0.3s ease-in-out;

}

.signup-input:hover {
    background-color: #115e59;
    transform: translate(.5rem) scaleX(1.1);
}

.signup-label:hover {
    background-color: #115e59;
}

.signup-button:hover {
    transform: scale(1.1);
    background-color: #115e59;
}

.signup-h1 {
    align-self: center;
    padding: 1rem;
}

@media (max-width: 555px) {
    .signup-form {
        box-sizing: border-box;
        width: 100%;
        max-width: 22rem;
        margin: 2rem auto;
        padding: 2rem 1.5rem;
    }

    .input-group {
        display: flex;
        flex-direction: column;
        gap: 0.3rem;
    }

    .signup-input:hover {
        transform: none;
    }
}