* {
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
    text-decoration: none;
}

body {
  background-color: #f4f7f6;
  font-family: 'Times New Roman', Times, serif;
  min-height: 100vh;
}
a {
  color: black;
}
li {
  text-decoration: none;
}